.navbar {
  width: 100%;
  max-width: 1024px;
  align-self: center;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  margin-top: 20px;
  :first-child {
    justify-self: flex-start;
  }
  :last-child {
    justify-self: flex-end;
  }

  @media screen and (max-width: 1024px) {
    padding: 0 8px;
  }
}

.logo {
  display: grid;
  place-items: flex-start;
}

.avatar {
  display: grid;
  place-items: flex-end;
}
