.ant-table {
  border: 2px solid #000;
}

.ant-table-thead .ant-table-cell {
  background: #c6c6c6 !important;
  color: #555 !important;
  box-shadow: inset 2px 2px #0006, inset -2px -4px #fff7;
}

.ant-table-thead .ant-table-cell::before {
  display: none;
}

.ant-table-tbody .ant-table-cell {
  color: #fff !important;
  text-shadow: 2px 2px #000a;
  background-color: #919191 !important;
  box-shadow: inset 2px 2px #0006, inset -2px -4px #fff7;
}

.ant-pagination .ant-pagination-item {
  color: white !important;
}

.ant-pagination-item-ellipsis {
  color: white !important;
}