.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
  place-items: center;
  justify-items: stretch;

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
